@font-face {
  font-family: Aller;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Aller-Regular.ttf);
}

@font-face {
  font-family: Aller;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Aller-Italic.ttf);
}

@font-face {
  font-family: Aller;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Aller-Bold.ttf);
}

@font-face {
  font-family: Aller;
  font-style: italic;
  font-weight: 700;
  src: url(fonts/Aller-BoldItalic.ttf);
}

@font-face {
  font-family: Futura LT;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FuturaLT-Regular.ttf);
}

@font-face {
  font-family: Futura LT;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/FuturaLT-Oblique.ttf);
}

@font-face {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PTSerif-Regular.ttf);
}

@font-face {
  font-family: PT Serif;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/PTSerif-Italic.ttf);
}

@font-face {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/PTSerif-Bold.ttf);
}

@font-face {
  font-family: PT Serif;
  font-style: italic;
  font-weight: 700;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
