@import "_vars";

// Set up body style with background
body {
  font-family: $font-stack-serif;
  min-height: 740px;

  background: gray(95);
  background: radial-gradient(gray(100) 0, gray(95) 65%, gray(75) 100%);
}

.impress-enabled div#impress-toolbar {
  position: fixed;
  bottom: 1px;
  opacity: 0.6;
  transform: none;
  transition: transform .5s ease-in-out;
  > span {
    margin-right: 10px;
  }
  #impress-navigation-ui-select {
    border: 0;
    font-size: .7em;
    background-color: rgba(0, 0, 0, .2);
  }
  #impress-navigation-ui-prev,
  #impress-navigation-ui-next,
  #impress-autoplay-playpause {
    display: none;
  }
}

.impress-progressbar {
  position: absolute;
  right: 0;
  left: 0;

  div {
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(0, 83, 203, 0.7);
    transition: width .5s, background-color .5s;
  }
}

body.impress-mouse-timeout {
  div#impress-toolbar {
    transform: translateY(20px);
  }
  cursor: none;
}

// Presentation step
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  box-sizing: border-box;

  font-family: $font-stack-serif;
  font-size: 22px;
  line-height: 1.5;

  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  ul, ol {
    padding-left: 40px;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-top: 10px;
  }
  p {
    margin: 1em 0;
  }
  q {
    font-style: italic;
  }
  code {
    display: inline-block;
  }
  blockquote {
    font-size: .8em;
    background-color: rgba(0, 0, 0, .05);
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 10px;
  }
  abbr {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .4em;
    padding: 0 .2em;
    cursor: help;
  }
}

// Enhance steps if impress is enabled
.impress-enabled {
  .step {
    margin: 0;
    opacity: .3;

    transition: opacity 1s;
  }

  .step.active {
    opacity: 1;
  }
}

// Slide-styled steps, inspired by <http://html5slides.googlecode.com/svn/trunk/styles.css>
.slide {
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

  font-family: $font-stack-sans;
  font-size: 20px;

  // background-color on the header should not overflow the slide's border-radius
  overflow: hidden;

  p.right {
    text-align: right;
  }

  p.center {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.step > .notes {
  display: none;
}

svg text {
  font-family: $font-stack-sans;
  font-size: 16px;
  &.i {
    font-size: 1em;
    font-style: italic;
  }
  &.sm {
    font-size: 12px;
  }
}
