/* Bring back styles after reset */
b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

/* Give hyperlinks a nice look */
a {
  color: #02c;
  text-decoration: none;
  padding: 0 .1em;
  /*background: rgba(255, 255, 255, .5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, .9);*/
  border-radius: .2em;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

a:hover, a:focus {
  background-color: white;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, .5);
}

code {
  font-family: monospace;
}
