@import 'reset.css';
@import 'restore.css';
@import 'fonts.css';

// To hide warning if browser is supported
@import 'impress-fallback';

// General body and step styles
@import 'impress-global';

#intro-aux {
  font-family: $font-stack-uni-brand;
  transition: opacity .5s;
  opacity: 0;
  font-size: 2.5vh;
  color: gray(50);

  > * {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  header {
    margin-top: 2em;
  }
  footer {
    margin-bottom: 1em;
    bottom: 0;
  }
  h2 {
    font-size: 1.5em;
    text-transform: uppercase;
  }
  q {
    font-size: .8em;
    font-style: italic;
  }
  footer :first-child {
    font-size: 1.2em;
    margin-bottom: .5em;
  }
}

.impress-on-title #intro-aux {
  opacity: 1;
}

// Step-specific styling
@import 'steps/0-title';
@import 'steps/1-intro';
@import 'steps/2-requirements';
@import 'steps/3-implementation';
@import 'steps/4-modules';
@import 'steps/5-tls';
@import 'steps/6-http-analysis';

#outro {
  font-family: $font-stack-sans;
  background-color: rgba(250, 250, 250, .6);
  padding: 0;
  border-radius: 20px;
  // Similar to #tunnel-remarks
  li > p {
    margin: 0 0 0 16px;
    font-size: .8em;
    color: gray(40);
    i {
      font-size: .9em;
    }
  }

  overflow: hidden;
  #projdata {
    padding: 20px 40px;
    float: left;
    width: 600px;
    box-sizing: border-box;
  }
  video {
    float: right;
    width: 300px;
    &::-webkit-media-controls-overlay-play-button {
     display: none;
    }
  }
}
