@import '../../styles/_vars';

.step > .additional-content {
  display: none;
}

#show-more-btn {
  position: absolute;
  bottom: 3vh;
  right: 3vh;

  width: 4vh;
  height: 4vh;

  font-family: $font-stack-sans;
  font-weight: 700;
  font-size: 3vh;
  background-color: rgba(0, 0, 0, .12);
  border: 0;
  border-radius: 50%;
  outline: 0;

  transition: background-color .5s, transform .3s ease-in-out, color .3s;

  user-select: none;
  cursor: pointer;

  &::before {
    content: '+';
  }

  &:hover {
    background-color: rgba(0, 0, 0, .16);
    transform: scale(1.3);
  }

  &.hidden {
    transform: scale(0);
  }
}

#more-container-3d {
  position: absolute;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  perspective: 200px;
  pointer-events: none;
  z-index: 1000;

  transition: background-color .5s;
}

#show-more.visible #more-container-3d {
  background-color: rgba(0, 0, 0, .3);
}

#more-content-overlay {
  position: absolute;
  left: 0;
  width: 80%;
  max-height: 90%;

  margin: 0 10vw;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid lightgray;
  box-shadow: 0 0 100px rgba(0, 0, 0, .2);
  border-radius: 8px;

  font-family: $font-stack-sans;
  font-size: 1.2em;
  line-height: 1.3em;
  overflow: auto;

  pointer-events: none;
  transition: transform .5s, opacity .5s;
  transform: translate3d(0, 0, -5px) rotateX(2deg);
  transform-origin: bottom;
  opacity: 0;

  hr {
    margin: 0 -40px;
  }
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: .83em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0;
  }
  ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  li {
    margin-top: 10px;
  }
  p {
    margin: 1em 0;
  }
  blockquote {
    margin: 0 20px;
    font-size: 90%;
    font-style: italic;
  }
}

#show-more.visible {
  #show-more-btn::before {
    content: '-';
  }
  #more-content-overlay {
    pointer-events: all;
    transform: none;
    opacity: 1;
  }
}
