@import '../../styles/_vars';

.impress-enabled .step > .section-title {
  display: none;
}

#section-title-container {
  position: absolute;
  font-family: $font-stack-sans;
  font-size: 6vh;
  margin-top: 7vh;
  padding: .3em .6em .3em 1em;

  background: linear-gradient(90deg, rgba(170, 170, 170, 0.5) 0, rgba(200, 200, 200, 0.5) 100%);
  text-shadow: 0 0 10px #ddd;
  z-index: 100;

  transition: opacity .25s, transform .25s, color .25s;

  &.hidden {
    opacity: 0;
    transform: translateX(-30px);
  }
}
