<div id="summary" class="step slide" data-x="-1000" data-y="700">
  <header>
    <h1>Summary</h1>
  </header>
  <section>
    <h2>Introduction and Project Requirements</h2>
    <p>
      Reasons, target platform and project type
    </p>
  </section>
  <section class="alt">
    <h2>Core Tunnel Structure</h2>
    <p>Interface, Subsystems (TCP, UDP), Data manupulation</p>
  </section>
  <section>
    <h2>Modules</h2>
    <p>Introduction, UID lookup and PCAP exporter</p>
  </section>
  <section class="alt">
    <h2>The TLS Proxy</h2>
    <p>HTTPS & Certificates, Implementation, Policies, Countermeasures</p>
  </section>
  <section>
    <h2>HTTP Processing</h2>
    <p>Motivations, outline and message representation</p>
  </section>
</div>

<div id="intro-1" class="step slide" data-x="0" data-y="700">
  <header>
    <h1>Why am I doing this?</h1>
  </header>
  <p>
    We use the network to access and share information,<br>
    but what we share is usually more than we actually think.
  </p>
  <p class="right">
    As an example, by simply browsing the internet,<br>
    we are exposed to a multitude of <em>tracking techniques</em>:
  </p>
  <ul id="web-trackers">
    <!-- Consider using an infinite scrolling effect (dup w/ js): https://stackoverflow.com/a/45847760 -->
    <li>Tracking Ads</li>
    <li>Web Beacons</li>
    <li>Social Integration</li>
    <li>Canvas + WebGL fingerprinting</li>
    <li>System Fonts recognition</li>
    <li class="more">and more</li>
  </ul>
  <div class="float-reset"></div>
  <p>
    So, if we care about our privacy, what can we do to protect ourselves?
  </p>
  <ul id="privacy-solutions">
    <li>
      Use <em>real</em> free software and self-hosted solutions;
      <p class="descr">
        May require some tech knowledge and even if that's not the case, most people are not willing to drop the more
        popular proprietary alternatives nor give up to (usually social) extra functionality.
      </p>
    </li>
    <li>
      <strong>Be aware of what we are effectively sharing, and act accordingly.</strong>
      <p class="descr">
        The ability to have a peek to what is leaving our devices allows us (or more experienced people in the
        community) to watch for suspicious behavior of closed source software and more…
      </p>
    </li>
  </ul>

  <div class="additional-content">
    <!-- Ex. 1st slide -->
    <ul id="our-data">
      <li><span class="before">content of</span> mail, chat messages and notifications</li>
      <li>personal contacts data</li>
      <li><span class="before">24/7 access to</span> microphone and location data</li>
    </ul>
    <p class="center">
      are only some of the things that we give away by using popular social media or completely unrelated "apps" in
      addition to what we intentionally decide to share.
    </p>
    <!-- Ex. 2nd slide -->
    <p class="center">
      The number of online apps and "free" services on the web is constantly growing and people literally click away
      their privacy by accepting their terms and conditions.
    </p>
    <q>
      <span class="before">well, even paid ones are using the same system to make profit but…</span>
      Have we ever asked ourselves how can these services be free?
    </q>
  </div>

  <div class="notes">
    Additionally, the "free apps" installed on our devices are very likely backed
    by organizations that are embracing Big Data or that need to make money in some way.
  </div>
</div>

<div id="intro-2" class="step slide" data-x="1000" data-y="700">
  <header>
    <h1>Why am I doing this?</h1>
  </header>
  <div id="use-cases">
    <section>
      <h2>Validating privacy concerns</h2>
      <p class="descr">
        locate sharing of sensitive personal data and decide whether or not to use a service
      </p>
    </section>
    <section>
      <h2>Performing security audits</h2>
      <p class="descr">
        to detect vulnerabilities such as <abbr title="Cross-Site Request Forgery">CSRF</abbr>, using GET to exchange
        sensitive data, and <abbr title="Cross-origin Resource Sharing">CORS</abbr>-related problems
      </p>
    </section>
    <section>
      <h2>Event triggering & scraping</h2>
      <p class="descr">
        on closed source APIs: act on received notifications or collect a list of events, news or a game's inventory
        data
      </p>
    </section>
    <section>
      <h2>Evaluating performance</h2>
      <p class="descr">
        identify unnecessary bandwidth consumption and redundant data transfers
      </p>
    </section>
    <section>
      <h2>Reverse engineering</h2>
      <p class="descr">
        to see how things work<br> or to develop alternative clients to services of interest
      </p>
    </section>
  </div>
  <p class="right">
    …are some of the target applications that can be aided (or made possible)<br>
    by network traffic analysis techniques.
  </p>
  <p>
    In the next pages, we are going to discuss one of such techniques<br>
    while developing a software to implement it.
  </p>
</div>
