<div id="requirements-1" class="step" data-x="2000" data-y="2000" data-z="0">
  <h1 class="section-title">Project requirements</h1>
  <h2>Project type: <em>Library</em></h2>
  <ul>
    <li>Full separation between network logic and possible frontends;</li>
    <li>Favors code reusability;</li>
    <li>Easier porting to other platforms;</li>
    <li>An open source reference frontend can be implemented as documentation.</li>
  </ul>
</div>

<div id="requirements-2" class="step"  data-x="2000" data-y="1980">
  <h2>Target platform: <em>Android</em></h2>
  <ul>
    <li>To date, mobile devices are the preferred way to access the internet;</li>
    <li>As a mobile OS, it is a major target for deploying "apps";</li>
    <li><b>Traffic analysis setup with existing instrumentation is not trivial.</b></li>
  </ul>
</div>

  <div id="requirements-desk-setup" class="step" data-x="2100" data-y="2210" data-z="50" data-scale="0.8" data-rotate-y="-10">
  <h2>HTTP(S) only w/ editing capability:</h2>
  <ul>
    <li>Use OWASP <abbr title="Zed Attack Proxy">ZAP</abbr>, mitmproxy or Burp Suite (commercial) on the desktop;</li>
    <li>Manually configure proxy settings on Android;</li>
    <li>Install security certificates (may require root, voiding warranty);</li>
    <li>If using mobile data, start an hotspot and access it from the proxy computer.</li>
  </ul>
  <h2>Full traffic, read only:</h2>
  <ul>
    <li>Compile and use libpcap/tcpdump on-device, requires root.</li>
  </ul>
</div>
