<div id="how-intercept-1" class="step" data-x="1000" data-y="2500" data-rotate="90" data-scale="1.5">
  <h1 class="section-title">Establishing the interface</h1>
  <div class="substep">
  <!-- maybe zoom out and rotate clockwise for this one, and place it on the left -->
    <div class="p1">
      <h2>But, how can we intercept network traffic?</h2>
      <p><q>The Linux kernel allows us to create a virtual network interface and access it over a file descriptor.</q>
    </div>
    <p>This interface can work in either TUN or TAP mode:</p>
    <ul>
      <li><strong>TUN</strong>: Operates on layer 3 packets <i>(network: e.g. IPv4, IPv6)</i>;</li>
      <li><strong>TAP</strong>: Allows manipulation of layer 2 frames <i>(data link: e.g. Ethernet IEEE 802.11)</i>.</li>
    </ul>
    <p>
      Traffic can be <strong><em>routed</em></strong> to this interface, processed and then sent to the real network.
    </p>
  </div>
</div>

<div id="how-intercept-2" class="step" data-x="350" data-y="2475" data-rotate="90" data-scale="1.5">
  <!-- go down a little with this one, smaller text -->
  <div class="vp">
    <div class="cnt">
      <p>
        Android (a Linux derivative), translates this to the <code>VpnService</code> TUN API.
      </p>
      <p>
        While an ordinary <abbr title="Virtual Private Network">VPN</abbr> application may establish an
        encrypted tunnel to a remote server, we will use this API to act transparently between the virtual and
        the real interfaces.
      </p>
    </div>
    <%= require('!!ejs-loader!../images/virtual-nic.inc.svg')()  %>
  </div>
  <div class="notes">
    <p>
      Android provides this API since version 4.0.
    </p>
    <p>
      <code>VpnService</code> allows 3rd party apps to extend the OS tunnel protocol offering (PPTP, L2TP and IPSec).
    </p>
  </div>
</div>

<div id="how-intercept-3" class="step" data-x="-50" data-y="2500" data-rotate="90" data-scale="1.5">
  <!-- same as before, but larger, cursive text -->
  <em>
    Our library will allow plugging in of user-defined modules at runtime, which can
    analyze, alter, redirect or attach metadata to the various connections passing through.
  </em>
</div>
