<div id="subsys-intro" class="step" data-x="600" data-y="3150" data-z="-320" data-scale="1" data-rotate-x="-30">
  <!-- Stacked slides (top ones disappear) -->
  <h1 class="section-title">Tunnel subsystems</h1>
  <p>
    Packets are sorted by their <em>next protocol</em> IP field (TCP, UDP, ICMP, …) and enqueued for
    asynchronous processing by a specific <i>transport layer subsystem</i>.
  </p>
  <%= require('!!ejs-loader!../images/subsystems.inc.svg')() %>
  <p>
    These systems will provide hooks to operate on the packet and then take care to establish a connection
    to the destination upstream.
  </p>

  <div class="additional-content">
    <p>
      Let's start with a thread, reading and writing from our interface <i>in a non-blocking way</i>.
    </p>
    <p>
      Packets are written in buffers taken from a pool and manipulated through <code>Packet</code> objects which
      ensure that their content stays always in a valid state (atomically updates checksums, headers, etc).
    </p>
    <p>
      If there is no data to transfer, this thread sleeps for a certain amount of time to save energy.
    </p>
    <hr>
    <p>
      We also have a single <i>downlink</i> queue consumed by our interface I/O thread. Packets are taken from
      this queue and written to the descriptor (thus reaching local applications) and the buffers recycled in the pool.
    </p>
  </div>
</div>
