<div id="subsys-udp" class="step" data-x="500" data-y="3485" data-z="-320" data-scale=".6">
  <h2>The <abbr title="User Datagram Protocol">UDP</abbr> subsystem</h2>
  <blockquote>
    UDP is a tiny transport protocol, ideal for fast throughput with low overhead over a stable link;
    has no concept of <i>connection</i> & does not guarantee ordering nor delivery of the transmitted messages.
  </blockquote>
  <p>
    Handling UDP is required for a series of RTC and P2P protocols,
    but first of all, <b>the delivery of DNS messages, necessary to resolve hostnames on the network</b>.
  </p>

  <div class="additional-content">
    <!-- what a nice card appearing from behind while the camera goes a little lower! -->
    <p>
      We use 2 threads with access on a synchronized LRU cache mapping
      <code>(src_port, remote_addr, remote_port)</code> to the socket opened for that <em>"connection"</em>
    </p>
    <ul>
      <li>
        <b>The first one</b> sends data, blocking on the uplink queue providing datagrams read from the VPN device
        descriptor, from which the payload is extracted and sent upstream;
      </li>
      <li>
        <b>The other</b> waits, using a <code>select()</code> call, for data availability from the registered UDP
        sockets, ready to process and wrap that into a new datagram, then enqueued for writing to the local
        virtual device.
      </li>
    </ul>
  </div>

  <div class="notes">
    Other protocols backed by UDP are Google's SPDY and QUIC (two alternatives to HTTP).
  </div>
</div>
