<div id="subsys-tcp" class="step" data-x="1100" data-y="3500" data-z="-320" data-scale=".6">
  <h2>The <abbr title="Transmission Control Protocol">TCP</abbr> subsystem</h2>
  <blockquote>
    TCP is the other major transport layer protocol: uses a 3-way handshake to establish a connection and assures
    delivery and sorting of segments. Has integrated flow and congestion control mechanisms to achieve optimal
    throughput in the majority of situations.
  </blockquote>
  <p>
    A vast amount of application-level protocols, <em>including HTTP(S)</em>, achieve reliability by operating
    over TCP. If we want to inspect or alter a transmission, it is very likely that it is layered on top of this
    protocol.
  </p>
</div>

<div id="subsys-tcp-states" class="step" data-x="1100" data-y="3760" data-z="-400" data-scale=".6">
  <p>
    Unlike UDP, we have to implement the following state machine in order to implement TCP correctly.
  </p>
  <%= require('!!ejs-loader!../images/tcp-state-machine.inc.svg')() %>

  <div class="additional-content">
    <p>
      We are going to use the same double threaded architecture used for UCP, but here we have some observations:
    </p>
    <ul>
      <li>
        We are going to implement a TCP state machine and store the state for each connection (also called TCB,
        consisting of state enum, SYN/ACK counters — plus the upstream socket) in the same LRU cache;
      </li>
      <li>
        We answer with <code>RST</code> to packets not expected in the current state or not belonging
        to any known connection;
      </li>
      <li>
        Buffers of incoming packets going upstream from the interface are reused in place to write an acknowledgement or
        reset response to send back to the VPN, avoiding memory allocations whenever possible;
      </li>
      <li>
        Local termination of the connection moves us to the <code>LAST_ACK</code> (answering w/ FIN,ACK) or
        <code>CLOSE_WAIT</code> (w/ ACK) states depending if the remote host reached end-of-stream or not.
        <code>CLOSE_WAIT</code> transitions to <code>LAST_ACK</code> whenever the server reaches EOS.
        The connection is closed when we are in <code>LAST_ACK</code> and the local client sends us a last ACK.
      </li>
    </ul>
  </div>
</div>
