<div id="manip-interface-1" class="step" data-x="1500" data-y="3900" data-z="0" data-rotate="-30" data-rotate-x="-45" data-rotate-y="45">
  <!-- Go away from previous slides, change of topic -->
  <h1 class="section-title">Accessing data</h1>
  <p>
    Now we have a tunnel capable of handling the majority of internet traffic transparently.
  </p>
  <p>
    An <i>event system</i> can be used to trigger user code in case of new or closed connections.
  </p>
  <p>
    If we are interested in a connection, we can hook into its <i>transfer queues</i> and start processing data…
  </p>
  <ul>
    <li>
      <i>Synchronously</i>, with zero-copy overhead ad queue pass-through;
    </li>
    <li>
      On another thread, if we are going to take a considerable amount of CPU time and we are not interested in
      altering data;
    </li>
    <li>
      While blocking the queue, waiting for more data (e.g. with the intent to alter a compressed blob).
    </li>
  </ul>

   <div class="additional-content">
    <h2>Event system</h2>
    <ul>
      <li>Broadcast events in case of a new or closed connection;</li>
      <li>
        An user can register to those events and filter connections of interest by parameters such as the addresses
        and ports involved or metadata attached by other modules (which will be discussed soon).
      </li>
      <li>
        We have now to conceptualize how to let user code process what is passing through a selected connection,
        I came out with a couple of ideas:
      </li>
    </ul>
    <h2>Pipelines and Transfer Queues</h2>
    <!-- Same idea of sub-slide, camera down & right, can we also move the ideas part of the previous slide? -->
    <ul>
      <li>
        <b>Pipeline</b> approach: for each direction, use pipes flowing in and out of an user-defined processor,
        use more pipes to define a pipeline of multiple processors.
        <ul class="pros">
          <li>Simple to describe;</li>
          <li>User-controlled access to a stream of data may allow easier processing code;</li>
          <li>(the following <i>cons</i> may be easily worked-around by a seasoned programmer).</li>
        </ul>
        <ul class="cons">
          <li>
            Blocking (requires at least another thread) or challenging to implement in another way
            (access will be platform-controlled but still stream-oriented, further research required);
          </li>
          <li>
            Requires buffering of data still not read by the user, just like sockets (how much data should be
            buffered? and if our buffer overflows?) — However solved by using appropriate classes like NIO pipes;
          </li>
          <li>
            Data always passes through user code, no-op processors block the stream unconditionally and slow ones
            can decrease throughput. No aid for potentially expensive asynchronous processing.
          </li>
        </ul>
      </li>
      <li>
        <b>Transfer queues</b>: a data and command queue for each direction of the connection. Users register to the
        queue, data can be copied for async processing and consumption of the stream can be blocked temporarily.
        <ul class="pros">
          <li>Processing can be done synchronously without spawning other threads;</li>
          <li>User code can be no-op or simply <i>take a peek</i> at the data without having to move it around;</li>
          <li>
            The queue can be short-circuited without copying buffers if listeners do not retain data and
            output flushing is not blocked.
          </li>
        </ul>
        <ul class="cons">
          <li>
            Data can only be read in predefined chunks. It is up to the user to find and process data of
            interest within these chunks, which can be unaligned and span over multiple chunks;
          </li>
          <li>
            Platform-controlled access. User code becomes a callback of what sounds more like a framework
            than a library, which may be not always what we want.
          </li>
        </ul>
      </li>
    </ul>
    <h2>Processing with Transfer Queues</h2>
    <p>Choosing to go with <i>transfer queues</i>, the user can choose how to process data…</p>
    <ul>
      <li>
        <i>Synchronously</i>, with zero-copy overhead ad queue pass-through;
      </li>
      <li>
        On another thread, if we are going to take a considerable amount of CPU time and we are not interested in
        altering data;
      </li>
      <li>
        While blocking the queue, waiting for more data (e.g. with the intent to alter a compressed blob).
      </li>
    </ul>
    <p>
      In the last two cases, a buffer copy is required; remembering that the original buffer may be reused by the
      tunnel immediately (in the case of TCP for ACKing a packet).
    </p>
    <p>
      The block/flush system is requested by the user and <b>must</b> also keep on hold stream events in the queue
      (like close or half close) — we want to finish processing and send data to the other side before telling it that
      the connection was closed.
    </p>
    <div class="small">
      A pipe-based approach could use have used markers in the stream instead of enqueuing these events.
    </div>
  </div>
</div>

<!--
<div id="manip-interface-2" class="step" data-x="1600" data-y="4000" data-z="-250" data-rotate="-30" data-rotate-x="-45" data-rotate-y="45">
  Nothing!
</div>

<div id="manip-interface-3" class="step" data-x="1800" data-y="4200" data-z="-730" data-rotate="-30" data-rotate-x="-45" data-rotate-y="45">
  Nothing!
</div>

<div id="manip-interface-4" class="step" data-x="1400" data-y="3950" data-z="-1000" data-rotate="-30" data-rotate-x="-45" data-rotate-y="45">
  Nothing!
</div>
-->
