<div id="tunnel-remarks" class="step" data-x="3000" data-y="2500" data-z="0" data-rotate="-90">
  <h1 class="section-title clear"></h1>
  <h2>Remarks · The tunnel</h2>
  <ul>
    <li>
      Packets are wrapped in classes to ease manipulation of enclosed protocols;
      <p>
        Abstraction layers discourage direct access to the raw backing buffer; changes are accumulated in an editor
        and then committed atomically, updating checksums and size fields in the process.
      </p>
    </li>
    <li>
      This implementation disregards any layer 4 packet outside TCP or UDP;
      <p>
        Consequently we have that <code>ping</code> and <code>traceroute -I</code> do not work since they operate with
        <b>ICMP ECHO Requests</b>.
        However, an ICMP subsystem can be developed and easily plugged into our tunnel.
      </p>
    </li>
    <li>
      Optimal performance can be achieved with a native implementation.
      <p>
        We could reduce resource usage and performance drops (typical of a VM-based language) in P2P or high throughput
        applications by implementing this in C, C++ or Rust.
      </p>
    </li>
  </ul>

  <div class="additional-content">
    <ul>
      <li>
        A non-blocking thread for VPN interface I/O may not be the best choice. The no-op idle sleep time is a
        compromise between performance and energy consumption. Alternatives can be 2 blocking threads (one on device
        read and the other on the downlink queue) or external "wake-up".
      </li>
      <li>
        More research can be done in the direction of a less contrived data manipulation interface. For example,
        the buffer queue can be abstracted as a continuous stream and markers be used for events and having a limit
        within which data can be modified. But more questions arise about zero-copy and async operation.
      </li>
    </ul>
  </div>

  <div class="notes">
    Might go deeper in ART's AOT or Dalvik & JVM's JIT, talk about garbage collection.
    P2P has multiple open connections.
  </div>
</div>
