<div id="modules-intro" class="step" data-x="5000" data-y="300" data-z="0" data-scale="2">
  <h1 class="section-title">Modules</h1>
  <%= require('!!ejs-loader!../images/module-icon.inc.svg')() %>
  <p>
    Now we have a tunnel and an interface to manipulate data passing though it.
  </p>
  <p>
    An application can define a set of modules to load and alter the inner functioning of the system we just described.
  </p>
  <q>
    Here we have some example modules that we can implement.
  </q>

  <div class="additional-content">
    <p>
      An application adopting our library may want a more abstract access to the data stream.
    </p>
    <p>
      If this abstraction becomes useful to many applications, it can be bundled in a module distributed
      within our library, the application itself or as an additional external dependency.
    </p>
    <p>
      The application decides which modules to plug in to the tunnel and the load order.
    </p>
    <hr>
    <p>
      A module is a parameterized set of components bound to the lifecycle of the tunnel,
    </p>
    <p>
      When the tunnel is started, they listen to built-in events or register more event types.
    </p>
  </div>
</div>
