<div id="module-uid" class="step" data-x="4650" data-y="1000" data-z="0" data-rotate-x="-30">
  <h2>UID Module</h2>
  <p>It may be interesting to know the <i>process ID</i> that established a connection.</p>
  <p>
    On Android, due to <i>sandboxing</i> each <em>"app"</em> is unambiguously mapped to an <i>user ID</i> which can be
    looked up in the <code>proc</code> filesystem by knowing the parameters of a connection.
  </p>

  <div class="additional-content">
    <p>
      It may be interesting to know the <i>process ID</i> that established a connection, allowing us to filter traffic by
      application instead of trying to infer this information from the connection itself.
    </p>
    <p>
      Knowing the local port, remote port and the destination address, we could easily extract this information by using
      <code>netstat -np</code>, <i>but…</i>
    </p>
    <hr>
    <p>
      …on Android, <code>netstat</code> may not be available without having <code>busybox</code> or <code>toybox</code>
      installed (and no, they are not <em>"apps"</em>).
    </p>
    <p>
      But, always on Android, every <em>"app"</em> is executed under a different <i>user ID</i>, which is mapped
      unambiguously to the package name of that application.
    </p>
    <p>
      Using the <code>procfs</code> virtual filesystem (managed by the kernel), we can read the files
      <code>/proc/net/{tcp,udp,tcp6,udp6}</code> to map addresses and ports (as hex) to the UID that established a
      connection — represented as a single line in one of these files.
    </p>
  </div>
</div>

<div id="module-uid-2" class="step" data-x="4650" data-y="1300" data-z="-160" data-rotate-x="-30">
  <p>
    Knowing this, we can design a module that:
  </p>
  <ul>
    <li>Listens for new connection on the tunnel;</li>
    <li>Maps its parameters to the user ID using <code>procfs</code>;</li>
    <li>Attaches the found UID to the connection as metadata.</li>
  </ul>
  <p>
    Now another module — or the application itself — can call <code>PackageManager.getNameForUid()</code>
    from the Android API to identify the <em>"app"</em> bound to the connection and operate accordingly.
  </p>

  <div class="additional-content">
    <p>
      Other modules may analyze the connection at any time (e.g. by registering
      to the same <i>new connection event</i>, with a lower priority) and retrieve the UID from the connection metadata.
    </p>
    <p>
      The Android API can give us information such as package name, version and icon of the <em>"app"</em>;
      this information does not change between installs, unlike the UID itself.
    </p>
  </div>
</div>
