<div id="module-pcap" class="step" data-x="5600" data-y="1120" data-z="-40" data-rotate-x="-30">
  <h2>PCAP file generator module</h2>
  <p>
    Exporting session recordings in as PCAP files may come in handy in case we want analyze a session on the desktop —
    using, for example, <i>Wireshark</i>.
  </p>
  <p>
    We can attach comments to the written packets for information or debug purposes.
  </p>
  <p class="sub-small">
    In order to avoid switching to the more complex PCAPng format — We can write fake syslog datagrams among the
    existing packets: Wireshark will show them as text in the packet list view.
  </p>
  <img src="../images/pcap.png">

  <div class="additional-content">
    <p>
      PCAP is a simple binary file format used by <i>libpcap</i> to save a stream of packets
      captured during a recording session.
    </p>
    <p>
      A PCAP-writing module can be easily implemented, accepting the output file name or stream as a parameter.
    </p>
  </div>
</div>
