<div id="tls-intro" class="step" data-x="5600" data-y="500" data-z="-2000" data-rotate="-90"
     data-goto-key-list="ArrowRight" data-goto-next-list="tls-steps">
  <h1 class="section-title">The TLS proxy</h1>
  <p>
    We reached this point without even considering the existence of <i>encrypted communication</i>.
  </p>
  <p>
    <abbr title="Hypertext Transfer Protocol, Secure">HTTPS</abbr> traffic represents now, according to Firefox
    telemetry, more than half of the page loads on the internet today.
  </p>
  <q>So, is there anything we can do to decrypt this data?</q>

  <div class="notes">
    HTTPS today is also a requirement for a substantial part of modern web technologies
    (service workers, push API, WebRTC, sensors, …), available only in a <i>"secure context"</i>.
  </div>
</div>

<div id="tls-intro-descr" class="step" data-x="5950" data-y="500" data-z="-2000" data-rotate="-90">
  <blockquote>
    <b>HTTPS</b> is nothing else than usual HTTP — the well-known protocol used for <em>"delivering of web pages"</em> —
    layered on top of <abbr title="Transport Layer Security">TLS</abbr>.
    The standard server port for HTTPS is TCP 443 instead of 80, used for HTTP only.
  </blockquote>
  <blockquote>
    <b>TLS</b> (v1.3 described by <a href="https://www.ietf.org/rfc/rfc8446.txt" target="_blank">RFC 8446</a>)
    is an evolution of <abbr title="Secure Socket Layer">SSL</abbr>  and a cryptographic protocol for secure
    communication over TCP.
    Several application level protocols can be protected by being layered on top of TLS; for example HTTPS,
    <abbr title="Simple Mail Transfer Protocol">SMTP</abbr>, <abbr title="Internet Message Access Protocol">IMAP</abbr>,
    secure <abbr title="Internet Relay Chat">IRC</abbr> and <abbr title="File Transfer Protocol, Secure">FTPS</abbr>
    (not to be confused with <abbr title="Simple File Transfer Protocol">SFTP</abbr>).
    A variant called DTLS exists and can be used for UDP.
  </blockquote>
</div>
