<div id="tls-steps" class="step" data-x="6000" data-y="-500" data-z="-2200" data-rotate="-90" data-rotate-x="30"
     data-goto-prev="tls-intro">
  First of all, TLS requires the use of cryptographic certificates to work:
  <ul>
    <li>A certificate is issued by a <i>certification authority</i>;</li>
    <li>Web servers "use it" to secure connections;</li>
    <li>Clients verify that the certificate given by the server is signed by one of the known authorities.</li>
  </ul>

  <div class="additional-content">
    <h2>How TLS works</h2>
    <p>After a TCP connection is established, the TLS layer kicks in and secures it in the following way:</p>
    <ul>
      <li>
        The client starts with the handshake protocol sending a <i>Client Hello</i> message containing primarily a list
        of supported cipher suites, extensions and key exchange parameters.
        <div class="small">
          A cipher suite is a selection of cryptographic algorithms used in a TLS session, for example
          <code>TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384</code> declares
          <ul>
            <li>
              <i>Ephimeral Elliptic curve Diffie-Hellman</i> <b>key exchange</b> to establish a shared secred over
              an insecure channel (variants are RSA, regular DH, PSK);
            </li>
            <li>
              <i>Elliptic curve Digital Signature Algorithm</i> for content <b>signing</b> (variants: RSA, DSA)
            </li>
            <li>
              <i>256bit AES in Galois/Counter Mode of operation</i> as a <b>symmetric encryption</b> algorithm
              (variants: older 3DES, RC4, newer ChaCha20 + Poly1305)
            </li>
            <li><i>A 384bit v2 Secure Hash Algorithm</i> as the <b>hash function</b> used by the signing algorithm</li>
          </ul>
        </div>
      </li>
      <li>
        The server answers with a <i>Server Hello</i> with the selected cipher suite and extensions, then sends a
        <abbr title="Distinguished Encoding Rules">DER</abbr>-encoded X.509 certificate chain (we will talk later about
        these). an optional OCSP stapling response for certificate verification and then the key exchange parameters.
      </li>
      <li>
        The client answers with its own key exchange parameters so a common secret can be computed, thus ending the
        handshake. Application data is now transmitted and received in encrypted TLS records.
      </li>
    </ul>
    <hr>
    <h2>Certificates and the Public Key Infrastructure</h2>
    <p>
      Certificates are a key part of the <abbr title="Public Key Infrastructure">PKI</abbr> system which is, by its own,
      a large topic to cover. In essence:
    </p>
    <ul>
      <li>
        Asymmetric, or public key cryptography use different "passwords" (called keys) to encrypt and decrypt content,
        keys are generated in pairs.
      </li>
      <li>
        For content signing, a key is kept private and is used to encrypt the hash of the message <i>to sign</i>; the
        public key can be used by anyone to recover the hash and verify the message.
      </li>
      <li>
        Certificate Authorities are built upon a root key pair, the public part is bundled with extra metadata
        (the authority's distinguished name, expiration, extensions, etc.) in an X.509 certificate, distributed
        and pre-installed in all major operating systems. This metadata is signed with the private key of the CA,
        making it a <i>self-signed certificate</i>.
      </li>
      <li>
        An user willing to get a trusted certificate has to generate her own key pair and attach the public key with
        metadata identifying herself or her service (e.g the hostname), thus generating a Certificate Signing Request
        (basically a partial certificate without any signature) to be sent to the Certificate Authority.
      </li>
      <li>
        The CA verifies that the information in the CSR is accurate and proceeds to attach its own distinguished name
        to the request as "issuer" and sign it with its own private key, hence creating a certificate for the user.
      </li>
    </ul>
    <p>Furthermore:</p>
    <ul>
      <li>
        Certificate Authorities tend to have internal intermediate authorities, signed by the root and used to sign
        user requests. An user is usually also provided with a <i>certificate chain</i> consisting of a bundle of his
        certificate with intermediate certificates. A certificate can be considered "trusted" if walking up the signature
        path we reach a root installed in our local system.
      </li>
      <li>
        Certificate Authorities can notify revocation of certificates by regularly publishing CRL files (at an internet
        address specified as an extension of issued certificates) or by a running an
        <abbr title="Online Certificate Status Protocol">OCSP</abbr> server.
      </li>
      <li>
        To avoid overloading OCSP endpoints of requests by the clients, web servers contact these services regularly
        and attach the signed response to the TLS handshake, a feature also called <i>OCSP Stapling</i>.
      </li>
      <li>
        CAs can make mistakes, an ongoing security experiment called <i>Certificate Transparency</i> addresses this by
        requiring authorities to publish publicly auditable of their issued certificates.
      </li>
    </ul>
  </div>
</div>

<!--
<div id="tls-certificates" class="step" data-rel-x="800" data-rotate="-90" data-rotate-x="30">
  Nothing!
</div>

<div id="tls-certificates-2" class="step" data-rel-x="-10" data-rel-y="-800" data-rel-z="-250" data-rotate="-90">
  Nothing!
</div>
-->
