<div id="tls-impl" class="step" data-rel-x="0" data-rel-y="0" data-rel-z="-2050">
  <q class="head">With this knowledge, <span class="b">we can now work towards a solution:</span></q>
  <ol>
    <li>
      Create a local certificate authority and install it in our device's secure keystore, we
      can prompt the user for the distinguished name of this authority;
    </li>
  </ol>
</div>

<div id="tls-impl-2" class="step" data-rel-y="75" data-rel-z="0">
  <ol start="2">
    <li>
      Spin up a local "proxy" server when the VPN interface goes up, listening for incoming connections;
    </li>
  </ol>
</div>

<div id="tls-impl-3" class="step">
  <ol start="3">
    <li>
      Wait for new connections passing through the tunnel directed to any host at TCP port 443 and redirect them to
      our local server;
    </li>
  </ol>

  <div class="notes">
    In the meantime the connection's real target is saved in a local registry along with the local
    external port number (which is different from the one inside the tunnel) which would be used to connect upstream.
  </div>
</div>

<div id="tls-impl-4" class="step">
  <ol start="4">
    <li>
      Our proxy strips unsupported ciphers and blacklisted extensions, then it forwards these parameters to the
      original destination upstream;
    </li>
  </ol>

  <div class="notes">
    We may want to talk to cipher suite (support RSA & ECC) and extension policy (pass SNI & ALPN) here.
  </div>
</div>

<div id="tls-impl-5" class="step">
  <ol start="5">
    <li>
      The upstream connection is established, we use the given certificate as a template to forge a new one
      to offer locally — generated on the fly and signed by our CA.
      This new certificate is then cached on persistent storage;
    </li>
  </ol>

  <div class="notes">
    Server extensions are processed again and then sent down to the VPN in a new Server Hello message
  </div>
</div>

<div id="tls-impl-6" class="step">
  <ol start="6">
    <li>
      We can now pipe data up and down until one side closes the connection;
      a new module-defined event is triggered to notify other components and allow them to hook into this system and
      process the decrypted stream.
    </li>
  </ol>
  <p><i>All of this in a new isolated module for our existing tunnel.</i></p>
</div>

<div id="tls-impl-more" class="step" data-rel-to="tls-impl" data-rel-x="2200" data-rel-y="1200" data-scale="5">
  <p>
    Unless we want to lose our mind in crypto, we should really use an external library to handle TLS and CA operations,
    a widely adopted choice is <i><a href="https://bouncycastle.org/java.html" target="_blank">Bouncy Castle</a></i>.
  </p>
</div>
