<!--
<div id="tls-policies" class="step" data-rel-to="tls-impl" data-rel-x="-1290" data-rel-y="200" data-rotate="180">
  Nothing!
</div>
-->

<!--
<div id="tls-policy-extensions" class="step" data-rel-x="0" data-rel-y="-670" data-rotate="180">
  Nothing!
</div>
-->

<!--<div id="tls-preventing" class="step" data-rel-x="-650" data-rel-y="-230" data-rel-z="500"
     data-rotate="135" data-rotate-x="30" data-rotate-y="-30" data-scale="2">-->
<div id="tls-preventing" class="step" data-rel-to="tls-impl" data-rel-x="-1290" data-rel-y="200" data-rotate="180">
  <q>Let's talk about countermeasures an application could take against this type of "attack"…</q>
  <ul>
    <li>
      <b>Certificate pinning</b>: the application is published with hardcoded information of the expected
      server certificate, and a check is performed on connection.
      <q>Up-to date information on how to pin <b>correctly</b> is available on
        <a href="https://www.owasp.org/index.php/Certificate_and_Public_Key_Pinning" target="_blank">OWASP</a></q>.
    </li>
    <li>
      Check <b>enabled extensions</b>: as we have seen, our technique requires stripping some session hardening
      extensions such as <i>extended master secret</i>; this may be difficult to detect, and depends on the networking
      library that we are using.
    </li>
  </ul>

  <div class="additional-content">
    <h1>Policies</h1>
    <div class="ex-policies">
      <h3>Cipher Suite policy</h3>
      <p>
        Being able to generate <abbr title="Rivest-Shamir-Adleman">RSA</abbr> and
        <abbr title="Elliptic Curve Cryptography">ECC</abbr> key pairs is enough to support a wide range of modern TLS
        cipher suites. Unsupported ciphers are stripped to avoid connection errors.
      </p>
      <blockquote>
        <ul>
          <li>
            Unless browsers start to complain about this, 1024bit RSA keys are more than enough for our purpose;
            for ECC we will use the <i>ANSI x9.62 prime256v1</i> curve (a.k.a. <i>secp256r1</i> or <i>NIST P-256</i>),
            which seems to be the most widely adopted.
          </li>
          <li>
            We will filter out unsupported TLSv1.3 ciphers and pass through suites matching the <code>0x0A0A :
            0xFAFA</code>
            <a href="https://tools.ietf.org/html/draft-davidben-tls-grease-01" target="_blank">GREASE</a> pattern:
            these fake cipher suites are used to test the behavior of web servers, which must ignore unknown algorithms
            without throwing an error.
          </li>
        </ul>
      </blockquote>
      <h3>Extension policy</h3>
      <p>
        We block unsupported and security hardening extensions —
        <abbr title="Server Name Indication">SNI</abbr> (virtual hosts support) and
        <abbr title="Application Layer Protocol Negotiation">ALPN</abbr> (HTTP/2.0 negotiation) are passed through.
      </p>
      <blockquote>
        <p>
          Apart unsupported TLSv1.3 extensions, which are discarded, the code is self-explanatory:
        </p>
        <pre><code>private static final int[] TLS_EXTENSION_POLICY = {
        ExtensionType.server_name,                  EPOL_PASSTHROUGH, // RFC 6066, Server Name Indication
        ExtensionType.status_request,               EPOL_DROP,        // RFC 6066, OCSP stapling
        ExtensionType.supported_groups,             EPOL_USE_LOCAL,   // RFC 7919, supported DHE curves
        ExtensionType.ec_point_formats,             EPOL_USE_LOCAL,   // RFC 4492, EC point format (usually uncompressed)
        ExtensionType.signature_algorithms,         EPOL_USE_LOCAL,   // RFC 5246, Supported signature algorithms
        ExtensionType.application_layer_protocol_negotiation, EPOL_PASSTHROUGH,
        ExtensionType.status_request_v2,            EPOL_DROP,        // RFC 6961, Multi OCSP stapling
        ExtensionType.signed_certificate_timestamp, EPOL_DROP,        // RFC 6962, Certificate Transparency
        ExtensionType.padding,                      EPOL_DROP,        // RFC 7685, Ext. manipulation may result in wrong size
        ExtensionType.extended_master_secret,       EPOL_DROP,        // RFC 7627, MITM prevention
        ExtensionType.session_ticket,               EPOL_PASSTHROUGH, // RFC 5077, server-stateless session resuming TODO
        ext_draft_channel_id,                       EPOL_DROP,        // DRAFT, self-generated client certificates
        ExtensionType.renegotiation_info,           EPOL_PASSTHROUGH, // RFC 5746, Crypto-bind renegotiation to TLS conn. TODO
};</code></pre>
        <p>
          Passing through the SNI client extension is essential for virtual host
          support (multiple sites served by the same IP) so that the server software can pick the right certificate for
          the host that we selected.
        </p>
        <p>
          We also want to pass the ALPN extension if we want to support the latest iteration of HTTP:
          <i><a href="https://http2.github.io/http2-spec/" target="_blank">HTTP/2.0</a></i>.
        </p>
      </blockquote>
    </div>
  </div>

  <div class="notes">
    <p>
      Regarding pinning, point out that in this case tampering cannot be detected server-side,
      and that user-executing code should not be trusted.
    </p>
    <p>
      Less sophisticated "attacks" might even ignore extensions completely or worse, work at HTTP level.
    </p>
  </div>
</div>
