<div id="http-analysis" class="step" data-x="4000" data-y="1500" data-z="-6000" data-rotate="90" data-rotate-y="-90" data-scale="2">
  <h1 class="section-title clear"></h1>
  <h2>High level HTTP Analysis</h2>
  <p>
    As a last thing we are going to develop an high-level HTTP/1.x decoding mechanism.
  </p>
  <p>
    With this, an application using our library can start capturing HTTP traffic immediately without having to know
    about packets, buffers and transfer queues.
  </p>
  <p>
    As a first iteration, this system does not allow editing of the messages.
  </p>

  <div class="additional-content">
    <p>
      As this does not support HTTP/2.0, which is a completely different — binary protocol, we need to strip
      the ALPN TLS extension if we want to use it over TLS encrypted channels.
    </p>
    <hr>
    <p>
      A <i>connection listener</i> serves as an interface between a <code>Connection</code>
      (a tunnel data structure containing a pair of <i>transfer queues</i>, link information and upstream socket)
      and a <i>session manager</i>.
    </p>
    <p>
      Buffers from the transfer queues are passed to the session manager (which handles the decoding) and then "rewound"
      before being consumed by the queues.
    </p>
    <p>
      A catch-all block protects the tunnel thread from uncaught parsing exceptions.
    </p>
    <hr>
    <p>
      The <i>session manager</i> is an orchestrator that keeps track whenever the client should be sending or receiving
      data and passes buffers to one of two <i>HTTP message stream readers</i> that will generate HTTP request or response
      messages, depending on their configuration.
    </p>
    <p>
      The direction is switched every time a reader reconstructs a full message. If data is received from an unexpected
      side, the session manager will log warning messages to signal that it "went out of sync".
    </p>
  </div>

  <div class="notes">
    Talk about stripping ALPN since we don't support HTTP/2.0
  </div>
</div>

<div id="http-body-stream" class="step" data-x="3500" data-y="1500" data-z="-6150" data-rotate="90" data-rotate-y="-90" data-scale="2">
  <p>
    An HTTP message is composed of an header and a <i>body stream</i>, which can be:
  </p>
  <ul>
    <li>
      <%= require('!!ejs-loader!../images/stream-sized.inc.svg')() %>
      <h4>Sized</h4>
      <p>if the message body is of a known size</p>
    </li>
    <li>
      <%= require('!!ejs-loader!../images/stream-null.inc.svg')() %>
      <h4>Null</h4>
      <p>if the message type should not have a body</p>
    </li>
    <li>
      <%= require('!!ejs-loader!../images/stream-chunked.inc.svg')() %>
      <h4>Chunked</h4>
      <p>if we are using a chunked transfer encoding</p>
    </li>
    <li>
      <%= require('!!ejs-loader!../images/stream-undetermined.inc.svg')() %>
      <h4>Undetermined</h4>
      <p>if we cannot determine the end of the payload</p>
    </li>
  </ul>
  <blockquote>
    Content compression and parsing can be easily handled by user code after reading the
    <code>Content-Encoding</code> and <code>Content-Type</code> (MIME) headers.
  </blockquote>

  <div class="additional-content">
    <h2>Stream implementation selection</h2>
    <p>
      A <i>body stream</i> implementation is selected using the following criteria:
    </p>
    <ul>
      <li>
        <code>SizedBodyStream</code>,
        if we have a <code>Content-Length</code> header field;</li>
      <li>
        <code>NullBodyStream</code>,
        (for requests) the HTTP method is one of <code>GET</code>, <code>HEAD</code>, <code>CONNECT</code>,
        <code>OPTIONS</code>, <code>TRACE</code> — (for responses) if its code is in 100:199, 204, 304; or
        <b>the attached request </b> is an <code>HEAD</code>;
      </li>
      <li>
        <code>ChunkedBodyStream</code>,
        if we have a <code>Transfer-Encoding</code> header and its value is not set to <code>identity</code>;
      </li>
    </ul>
    <p>
      The fallback is <code>UndeterminedBodyStream</code>, which should be terminated when the connection is closed,
      following the specification.
    </p>
    <hr>
    <h2>Internals</h2>
    <p>
      A <i>message stream reader</i> class has the role of generating HTTP messages (requests or responses, depending on
      the configured header builder) from raw network data buffers, in a single direction.
    </p>
    <p>
      A callback receives these messages (built when an header has been fully decoded) and can start to read the body
      stream <i>on a different thread</i>.
    </p>
    <p>
      Meanwhile, in the main tunnel thread, our reader pushes further data buffers into the body stream until this
      will mark itself as "completed"; at this point the reader resets and starts collecting data for a new header,
      thus repeating the cycle.
    </p>
    <blockquote>
      The message body stream holds an internal ring buffer (of configurable size) written by the HTTP stream reader and
      read by the user. If this buffer overflows or the user itself signals no interest in reading data, the body stream
      closes instantly and no data from the network is written around. Internal size counters are still kept for
      syncing purposes.
    </blockquote>
  </div>
</div>

<!--
<div id="http-session-manager" class="step" data-x="3000" data-y="1500" data-z="-6300" data-rotate="90" data-rotate-y="-90" data-scale="2">
  Nothing!
</div>
-->

<div id="http-ending" class="step" data-x="2500" data-y="1500" data-z="-7000" data-rotate="90" data-rotate-y="-30" data-scale="1.5">
  <span>the end</span>
</div>

<!--
<div id="http-stream-reader" class="step" data-x="3000" data-y="1500" data-z="-7500" data-rotate="90" data-rotate-y="-30" data-scale="1.5">
  Nothing!
</div>
-->
