<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <!--<meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
  <meta name="description" content="Study and development of a software library capable to alter plaintext and encrypted network traffic on Android (and Linux)">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="impress-not-supported">

<div class="fallback-message">
  <p>
    Your browser <b>doesn't support the features required</b> to display this slideshow, so you are presented with a
    simplified version.
  </p>
  <p>
    For the best experience please use a modern and updated browser, popular ones are
    <i><a href="https://www.mozilla.org/firefox/">Firefox</a></i> and
    <i><a href="https://www.google.com/chrome/">Chrome</a></i>.
  </p>
</div>

<div id="intro-aux">
  <header>
    <h2>Università degli studi di Pavia</h2>
    <q>corso di laurea in ingegneria elettronica ed informatica</q>
  </header>
  <footer>
    <div>Luca Zanussi</div>
    <div>A.A. 2017 – 2018</div>
  </footer>
</div>

<h1 id="section-title-container" class="hidden"></h1>

<div id="impress">

  <div id="title" class="step" data-x="0" data-y="0" data-z="-100" data-rotate-x="15" data-scale="4">
    <h1>Altering Internet Traffic <span>using Virtual Network Interfaces</span></h1>
  </div>

  <!--
  ideas:
  - left to right slides, keeping an element during transition w/ a long graph underneath
  -->

  <%= require('!!ejs-loader!./content/1-intro.html')() %>

  <%= require('!!ejs-loader!./content/2-requirements.html')() %>

  <%= require('!!ejs-loader!./content/3-core-implementation.ejs')() %>
  <%= require('!!ejs-loader!./content/3.1-subsys-intro.ejs')() %>
  <%= require('!!ejs-loader!./content/3.2-udp-subsystem.ejs')() %>
  <%= require('!!ejs-loader!./content/3.3-tcp-subsystem.ejs')() %>
  <%= require('!!ejs-loader!./content/3.4-data-access.html')() %>
  <%= require('!!ejs-loader!./content/3.5-core-remarks.html')() %>

  <%= require('!!ejs-loader!./content/4-modules.ejs')() %>
  <%= require('!!ejs-loader!./content/4.1-module-uid.html')() %>
  <%= require('!!html-loader!./content/4.2-module-pcap.html') %>

  <%= require('!!ejs-loader!./content/5-tls.html')() %>
  <%= require('!!ejs-loader!./content/5.1-tls-details.html')() %>
  <%= require('!!ejs-loader!./content/5.2-tls-impl.html')() %>
  <%= require('!!ejs-loader!./content/5.3-tls-final.html')() %>

  <%= require('!!ejs-loader!./content/6-http-analysis.ejs')() %>

  <div id="outro" class="step" data-x="2500" data-y="2000" data-z="3000" data-scale="5" data-media-autostop="true">
    <div id="projdata">
      <h2>Regarding this project…</h2>
      <p>
        All of the ramblings you just heard do actually make some sense and are a description of the inner workings
        of a free software project I created.
      </p>
      <ul>
        <li>
          The library:
          <p>
            <a href="https://github.com/lczx/aml" target="_blank">https://github.com/lczx/aml</a>
            <i>(Apache 2.0 license)</i>
          </p>
        </li>
        <li>
          Reference application:
          <p>
            <q>"Droid in the Middle"</q>, W.I.P.
            <i>(MIT license)</i>
          </p>
        </li>
        <li>
          These slides:
          <p>
            <a href="https://gitlab.com/lczx/aml-thesis-slides" target="_blank">https://gitlab.com/lczx/aml-thesis-slides</a>
            <i>(CC 4.0 BY-SA)</i>
          </p>
        </li>
      </ul>
    </div>
    <video src="<%= require('./demo.mp4') %>" controls></video>
  </div>

</div>

<div id="show-more">
  <button id="show-more-btn" class="hidden" title="Show more"></button>
  <div id="more-container-3d">
    <div id="more-content-overlay"></div>
  </div>
</div>

<div id="impress-toolbar"></div>
<div class="impress-progressbar"><div></div></div>

</body>
</html>
