@import "../_vars";

#title {
  padding: 0;
  text-align: center;
  font-family: $font-stack-sans;

  position: absolute;
  top: -300px;

  h1 {
    font-size: 80px;
    line-height: 1em;
    span {
      display: block;
      font-size: 40px;
    }
  }
}
