#summary {
  padding: 0;

  header {
    background-color: #444;
    padding: 8px 0;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 1em;
    font-style: italic;
  }
  h2 {
    margin: 0 30px 0;
    font-variant: small-caps;
  }
  p {
    margin: 0 50px 14px;
  }
  section {
    margin: 0;
    overflow: auto;
    padding: 16px;
    &.alt {
      text-align: right;
      background-color: #f4f4f4;
    }
  }
}

#intro-1, #intro-2 {
  header {
    background-color: #f2f2f2;
    margin: -40px -60px 0;
    padding: 12px 0;
    text-align: center;
  }
  h1 {
    font-size: 1.8em;
    font-variant: small-caps;
    font-style: italic;
  }
}

#intro-1 > p:first-of-type {
  margin: 40px 0;
}

#intro-2 {
  p {
    margin: 0;
  }
  > p {
    margin-bottom: 40px;
  }
}

#web-trackers {
  margin: -30px 0 70px -60px;
  float: right;
  opacity: .7;

  font-variant: small-caps;
  font-size: 15.5px;

  li {
    float: left;
    letter-spacing: -.4px;
    line-height: 30px;

    &:not(:last-child)::after {
      content: '  · ';
      white-space: pre-wrap;
    }

    &.more {
      font-size: 12px;
      font-style: italic;
    }
  }
}

#privacy-solutions {
  list-style-type: disc;
  li {
    margin-top: 20px;
  }
  p {
    margin: 0;
  }
  .descr {
    display: block;
    margin-left: 14px;

    font-style: italic;
    font-size: 14px;
  }
}

#use-cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 30px -40px 40px;

  section {
    width: 40%;
    margin: 12px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
  }

  .descr {
    font-style: italic;
    font-size: 14px;
  }
}

#more-content-overlay.extra-on-intro-1 {
  q {
    display: block;
    margin-top: 30px;
    text-align: center;

    font-style: italic;
    font-size: 20px;

    .before {
      display: block;
      font-style: normal;
      font-size: 13px;
    }
  }

  #our-data {
    margin: 0 0 30px;
    padding-left: 0 !important;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li {
      list-style-type: none;
      text-align: center;
      font-size: 18px;
      font-style: italic;

      .before {
        display: block;
        line-height: 12px;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}

.float-reset {
  // Previous element has float; https://stackoverflow.com/q/1883414
  clear: both;
}
