#requirements-1, #requirements-2 {
  h2 {
    font-size: 30px;
    em {
      margin-left: 10px;
      font-size: 36px;
    }
  }

  ul {
    transition: transform .5s, opacity .5s;
    opacity: 1;
    transform: none;
  }
}

#requirements-1.active ul {
  transition-delay: .5s;
}
#requirements-2.active ul {
  transition-delay: .5s;
}

.impress-on-requirements-2,
.impress-on-requirements-desk-setup,
.impress-on-how-intercept-1 {
  #requirements-1 {
    pointer-events: none;
    opacity: 0;

    ul {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
}

.impress-on-requirements-1 #requirements-2 {
  pointer-events: none;
  opacity: 0;

  ul {
    opacity: 0;
    transform: translateY(30px);
  }
}

// Setup requirements-2 transition types
#requirements-2 {
  h2, li:not(:last-child) {
    transition: opacity .5s ease-in-out;
  }
  li:last-child {
    transition: transform 1s;
  }
}

// Hide desk-setup on requirements steps
.impress-on-requirements-1, .impress-on-requirements-2 {
  #requirements-desk-setup {
    opacity: 0;
  }
}

// When on desk-setup, fade out previous slide except last point
.impress-on-requirements-desk-setup {
  #requirements-2 {
    opacity: 1;
    h2, li:not(:last-child) {
      opacity: .2;
    }
  }
}

#requirements-desk-setup {
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
    margin-top: 40px;

    transition: opacity 1s;
    opacity: 0;
  }
  li {
    transition: opacity .5s, transform .5s;
    opacity: 0;
    transform: translateX(-30px);
  }

  h2:nth-of-type(1) {
    transition-delay: .6s;
  }
  ul:nth-of-type(1) {
    li:nth-of-type(1) {
      transition-delay: 1s;
    }
    li:nth-of-type(2) {
      transition-delay: 1.1s;
    }
    li:nth-of-type(3) {
      transition-delay: 1.2s;
    }
    li:nth-of-type(4) {
      transition-delay: 1.3s;
    }
  }
  h2:nth-of-type(2) {
    transition-delay: 1.6s;
  }
  ul:nth-of-type(2) li {
    transition-delay: 2s;
  }
}

.impress-on-requirements-desk-setup, .impress-on-how-intercept-1 {
  // Keep to right last platform point until out of view
  #requirements-2 {
    li:last-child {
      transform: translateX(90px);
    }
  }

  // Preserve transition state on desk-setup until out of view
  #requirements-desk-setup {
    h2 {
      opacity: 1;
    }
    li {
      opacity: 1;
      transform: none;
    }
  }
}
