#how-intercept-1 {
  .p1 {
    margin-bottom: 40px;
    p {
      font-size: .9em;
    }

    transition: transform .5s;
    transform: translateY(80px);
  }

  .substep > p {
    transition: transform .5s, opacity .5s;
    &:nth-of-type(1) {
      opacity: 0;
      transition-delay: .2s;
    }
    &:nth-of-type(2) {
      opacity: 0;
      transform: translateY(-20px);
      transition-delay: .5s;
    }
  }

  li {
    transition: transform .5s, opacity .5s;
    opacity: 0;
    transform: translateX(-30px);
    &:nth-of-type(1) {
      transition-delay: .3s;
    }
    &:nth-of-type(2) {
      transition-delay: .4s;
    }
    i {
      font-size: .8em;
    }
  }

  .substep.substep-visible {
    .p1 {
      transform: none;
    }
    > p {
      &:nth-of-type(1) {
        opacity: 1;
      }
      &:nth-of-type(2) {
        opacity: 1;
        transform: none;
      }
    }
    li {
      opacity: 1;
      transform: none;
    }
  }

  .substep:not(.substep-visible) {
    .p1 {
      transition-delay: .5s;
    }
  }
}

#how-intercept-2 {
  width: 1000px;
  > .vp {
    perspective: 1600px;
  }

  .cnt {
    margin-top: 50px;
    width: 450px;
    float: right;

    transition: opacity .5s, transform .5s;
    transition-delay: .25s;
    transform: rotateY(10deg) translateX(-30px);
    opacity: 0;

    p:last-child {
      font-size: .8em;
      color: #666;

      transition: opacity .5s, transform .5s;
      transition-delay: .5s;
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  svg {
    width: 480px;
    margin-left: -20px;

    transition: opacity .5s, transform .5s;
    transform: translateX(20px);
    opacity: 0;
  }

  &.present,
  &:not(.next):not(.future) {
    .cnt {
      transform: rotateY(-10deg);
      opacity: 1;
    }
    .cnt p:last-child {
      transform: none;
      opacity: 1;
    }
    svg {
      transform: rotateY(20deg);
      opacity: 1;
    }
  }
}

#how-intercept-3 {
  text-align: center;
}

#subsys-udp, #subsys-tcp {
  blockquote, p {
    transition: opacity .5s, transform .5s;
    opacity: 0;
  }
  blockquote {
    transform: translateZ(-50px);
  }
  p {
    transform: translateY(-20px);
    transition-delay: .2s;
  }

  &.present,
  &:not(.next):not(.future) {
    blockquote, p {
      transform: none;
      opacity: 1;
    }
  }
}

#subsys-tcp-states {
  > * {
    transition: opacity .5s;
    opacity: 0;
  }
  &.active,
  &:not(.next):not(.future) {
    > * {
      opacity: 1;
    }
  }
}

#manip-interface-1 {
  padding: 40px 0;

  p {
    transition: opacity .5s;
    opacity: 0;
  }
  li {
    transition: opacity .5s, transform .5s;
    transform: translateX(-30px);
    opacity: 0;
    &:nth-of-type(1) {
      transition-delay: .4s;
    }
    &:nth-of-type(2) {
      transition-delay: .6s;
    }
    &:nth-of-type(3) {
      transition-delay: .8s;
    }
  }

  &.present,
  &:not(.next):not(.future) {
    p {
      opacity: 1;
    }
    li {
      opacity: 1;
      transform: none;
    }
  }
}

#tunnel-remarks {
  li {
    transition: transform .5s, opacity .5s;
    transform: translateX(-30px);
    opacity: 0;

    > p {
      margin: 0 0 0 16px;
      font-size: .8em;
      font-style: italic;
      color: gray(40);

      transition: transform .5s, opacity .5s;
      transform: translateY(-15px);
      opacity: 0;
    }

    &:nth-of-type(1) {
      p {
        transition-delay: .15s;
      }
    }
    &:nth-of-type(2) {
      transition-delay: .4s;
      p {
        transition-delay: .55s;
      }
    }
    &:nth-of-type(3) {
      transition-delay: .8s;
      p {
        transition-delay: .95s;
      }
    }
  }
  &.present,
  &:not(.next):not(.future) {
    li {
      transform: none;
      opacity: 1;
      > p {
        transform: none;
        opacity: 1;
      }
    }
  }
}

#subsys-intro svg {
  display: block;
  margin: 0 auto;
  height: 180px;
}

#subsys-tcp-states svg {
  display: block;
  width: 100%;
  margin: -20px 0 -100px;

  .b text, .u text {
    font-size: .5em;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  .b text {
    font-size: .6em;
  }
  .t text {
    font-size: .5em;
    font-style: italic;
    letter-spacing: .1em;
  }
  .m text {
    font-style: italic;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
  .s text {
    font-size: .6em;
  }
}

.impress-on-how-intercept-1,
.impress-on-how-intercept-2,
.impress-on-how-intercept-3 {
  #subsys-intro {
    opacity: .07;
  }
}

// More transparency on modules slides when on manip-interface-1,
// background images tend to reduce readability
.impress-on-manip-interface-1 {
  #subsys-intro, #subsys-udp, #subsys-tcp, #subsys-tcp-states {
    opacity: .15;
  }
}

.impress-on-manip-interface-3 #manip-interface-4 {
  opacity: .1;
}

.impress-on-manip-interface-4 #manip-interface-3 {
  opacity: 0;
  pointer-events: none;
}

// Hide tunnel remarks in transition from requirements to how-intercept
.impress-on-requirements-desk-setup,
.impress-on-how-intercept-1 {
  #tunnel-remarks {
    opacity: 0;
  }
}

#more-content-overlay.extra-on-manip-interface-1 {
  li > ul {
    margin-top: 16px;
    font-size: 85%;
    li {
      margin-top: 4px;
    }
  }
  .pros {
    color: forestgreen;
  }
  .cons {
    color: firebrick;
  }
}
