#modules-intro {
  svg {
    display: block;
    margin: 0 auto;

    transition: transform .5s;
    transform: scale(0);
  }
  p:last-of-type {
    transition: all .5s .25s;
    transform: translateY(-20px);
    opacity: 0;
  }
  > q {
    display: block;
    text-align: center;

    transition: all .5s .5s;
    opacity: 0;
  }

  &.present,
  &:not(.next):not(.future) {
    svg {
      transform: none;
    }
    p:last-of-type {
      transform: none;
      opacity: 1;
    }
    > q {
      opacity: 1;
    }
  }
}

#module-uid-2 {

  li {
    transition: opacity .5s, transform .5s;
    transform: translateX(-30px);
    opacity: 0;
    &:nth-of-type(2) {
      transition-delay: .1s;
    }
    &:nth-of-type(3) {
      transition-delay: .2s;
    }
  }

  > p:last-of-type {
    margin-top: 40px;
    font-size: 85%;

    transition: opacity .5s, transform .5s;
    transition-delay: .4s;
    transform: translateY(-20px);
    opacity: 0;
  }

  &.present,
  &:not(.next):not(.future) {
    li, > p:last-of-type {
      transform: none;
      opacity: 1;
    }
  }
}

#module-pcap {
  > .sub-small {
    margin-top: -20px;
    margin-left: 20px;
    font-size: .7em;
    font-style: italic;
  }
  > img {
    display: block;
    width: 110%;
    margin: 40px -40px -20px -30px;
    border-radius: 16px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .25);
  }
}
