#tls-intro {
  q {
    display: block;
    text-align: center;
  }
}

#tls-preventing {
  > q {
    margin: 0 -60px 0 0;
    display: block;
  }
  li {
    margin: 30px 0;

    transition: opacity .5s, transform .5s;
    opacity: 0;
    transform: translateX(-30px);
    &:last-of-type {
      transition-delay: .2s;
    }
  }

  &.present,
  &:not(.next):not(.future) {
    li {
      opacity: 1;
      transform: none;
    }
  }
}

body::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';

  background: gray(15);
  background: radial-gradient(gray(20) 0, gray(15) 65%, gray(5) 100%);
  z-index: -100;

  opacity: 0;
  transition: opacity 1s;
}

.impress-on-tls-intro,
.impress-on-tls-intro-descr,
.impress-on-tls-steps,
.impress-on-tls-certificates,
.impress-on-tls-certificates-2,
.impress-on-tls-impl,
.impress-on-tls-impl-2,
.impress-on-tls-impl-3,
.impress-on-tls-impl-4,
.impress-on-tls-impl-5,
.impress-on-tls-impl-6,
.impress-on-tls-impl-more,
.impress-on-tls-policies,
.impress-on-tls-policy-extensions,
.impress-on-tls-preventing {
  &::before {
    opacity: 1;
  }

  #section-title-container {
    background: linear-gradient(90deg, rgba(65, 65, 65, 0.5) 0, rgba(80, 80, 80, 0.5) 100%);
    color: gray(80);
    text-shadow: none;
  }

  #show-more-btn {
    background-color: rgba(255, 255, 255, .12);
    color: gray(70);
    &:hover {
      background-color: rgba(255, 255, 255, .16);
    }
  }

  div#impress-toolbar #impress-navigation-ui-select {
    background-color: rgba(255, 255, 255, .3);
    color: white;
    > * {
      color: black;
    }
  }

  .impress-progressbar > div {
    background-color: rgba(255, 177, 0, 0.7);
  }
}

#tls-intro,
#tls-intro-descr,
#tls-steps,
#tls-certificates,
#tls-certificates-2,
#tls-impl,
#tls-impl-2,
#tls-impl-3,
#tls-impl-4,
#tls-impl-5,
#tls-impl-6,
#tls-impl-more,
#tls-policies,
#tls-policy-extensions,
#tls-preventing {
  color: gray(80);
  a {
    color: lightblue;
    &:hover {
      background: none;
      text-shadow: -1px -1px 2px rgba(255, 255, 255, .5);
    }
  }
  blockquote {
    background-color: rgba(255, 255, 255, .1);
  }
  abbr {
    border-color: rgba(255, 255, 255, .3);
  }
}

#tls-impl {
  counter-reset: impl-step;

  .head {
    .b {
      display: block;
      font-size: 1.2em;
    }
    display: block;
    margin-bottom: 20px;
  }
  ol {
    transition: opacity 1s;
  }
}

#tls-impl, #tls-impl-2, #tls-impl-3, #tls-impl-4, #tls-impl-5, #tls-impl-6 {
  ol {
    list-style-type: none;
    padding-left: 30px;
    transition: transform 5s .5s;
  }
  li {
    display: flex;
  }
  li::before {
    counter-increment: impl-step;
    content: counter(impl-step) ".";
    margin-right: 10px;
    font-size: 1.5em;
    font-style: italic;
  }
}
// See later for return to impl-6 faster transition

// List item offset to display more
#tls-impl-2 ol {
  transform: translateY(65px);
}
#tls-impl-3 ol {
  transform: translateY(75px);
}
#tls-impl-4 ol {
  transform: translateY(85px);
}
#tls-impl-5 ol {
  transform: translateY(115px);
}
#tls-impl-6 {
  ol {
    transform: translateY(185px);
  }
  p {
    transition: opacity .5s, transform .5s;
    opacity: 0;
    transform: translateY(165px);
  }
  &.active, // Use active to start transition earlier
  &:not(.next):not(.future) {
    p {
      opacity: 1;
      transform: translateY(185px);
      transition-delay: .4s;
    }
  }
}

.impress-on-tls-impl {
  #tls-impl-2, #tls-impl-3, #tls-impl-4, #tls-impl-5, #tls-impl-6 {
    opacity: .05;
  }
}
.impress-on-tls-impl-2 {
  #tls-impl-3, #tls-impl-4, #tls-impl-5, #tls-impl-6 {
    opacity: .05;
  }
}
.impress-on-tls-impl-3 {
  #tls-impl-2 {
    opacity: .6;
  }
  #tls-impl-4, #tls-impl-5, #tls-impl-6 {
    opacity: .05;
  }
}
.impress-on-tls-impl-4 {
  #tls-impl-2, #tls-impl-3 {
    opacity: .6;
  }
  #tls-impl-5, #tls-impl-6 {
    opacity: .05;
  }
}
.impress-on-tls-impl-5 {
  #tls-impl-2, #tls-impl-3, #tls-impl-4 {
    opacity: .6;
  }
  #tls-impl-6 {
    opacity: .05;
  }
}
.impress-on-tls-impl-6 {
  #tls-impl-2, #tls-impl-3, #tls-impl-4, #tls-impl-5 {
    opacity: .6;
  }

  // Faster transition if returning from impl-more
  #tls-impl, #tls-impl-2, #tls-impl-3, #tls-impl-4, #tls-impl-5, #tls-impl-6 {
    ol {
      transition-delay: 0s;
      transition-duration: 1s;
    }
  }
}
.impress-on-tls-impl-2,
.impress-on-tls-impl-3,
.impress-on-tls-impl-4,
.impress-on-tls-impl-5,
.impress-on-tls-impl-6 {
  #tls-impl {
    opacity: 1;
    ol {
      opacity: .6;
    }
  }
}

.impress-on-tls-impl-more, .impress-on-tls-preventing {
  #tls-impl ol {
    transform: translateX(4500px);
  }
  #tls-impl-2 ol {
    transform: translate(1800px, 65px);
  }
  #tls-impl-4 ol {
    transform: translate(2700px, 85px);
  }
  #tls-impl-5 ol {
    transform: translate(900px, 115px);
  }
  #tls-impl-6 ol {
    transform: translate(3600px, 185px);
  }
}

.impress-on-tls-intro, .impress-on-tls-intro-descr, .impress-on-tls-steps {
  #tls-impl-2, #tls-impl-3, #tls-impl-4, #tls-impl-5, #tls-impl-6 {
    opacity: .05;
  }
  #tls-preventing {
    display: none;
  }
}

// Hide first TLS slides when switching between impl-6 and impl-more
.impress-on-tls-impl-6, .impress-on-tls-impl-more {
  #tls-intro, #tls-intro-descr, #tls-steps {
    display: none;
  }
}

#more-content-overlay.extra-on-tls-steps .small {
  font-size: 70%;
  color: gray(30);
  margin-left: 20px;
  li {
    margin: 0;
  }
}

#more-content-overlay.extra-on-tls-preventing {
  /*.ex-policies {
    h3:last-of-type {
      margin-top: 40px;
      text-align: right;
    }
    p {
      margin: 10px 30px;
      &:last-of-type {
        text-align: right;
      }
    }
  }*/
  pre {
    font-size: 75%;
    font-weight: 700;
    line-height: 1.3em;
  }
}
