#http-analysis {
  transition: opacity 1s .3s;
  h2 {
    display: block;
    transition: transform 1s ease-in-out;
  }
  p {
    transition: opacity 1s;
  }
  p:nth-of-type(2) {
    text-align: right;
    margin-bottom: 40px;
  }
}

#http-analysis.next {
  opacity: 0;
}

#http-body-stream {
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;

    perspective: 1600px;
  }
  li {
    display: block;
    width: 40%;
    margin: 12px;
    font-size: 90%;
    text-align: center;

    transition: opacity .5s, transform .5s ease-out;
    opacity: 0;
    transform: translateZ(-160px);
    h4 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1.4px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-style: italic;
      font-size: 16px;
    }

    &:nth-of-type(2) {
      transition-delay: .2s;
    }
    &:nth-of-type(3) {
      transition-delay: .4s;
    }
    &:nth-of-type(4) {
      transition-delay: .6s;
    }
  }

  svg .big {
    font-size: 2em;
  }

  blockquote {
    transition: opacity .5s 1s;
    opacity: 0;
  }

  &.present,
  &:not(.next):not(.future) {
    blockquote {
      opacity: 1;
    }
    li {
      opacity: 1;
      transform: none;
    }
  }
}

#http-ending {
  text-align: center;
  span {
    background-color: rgba(0, 0, 0, .1);
    font-family: $font-stack-sans;
    font-size: 3em;
    color: #555;
    padding: .5em 1em;
    border-radius: 100px;
  }
}

#http-analysis, #http-body-stream, #http-session-manager, #http-ending, #http-stream-reader {
  visibility: hidden;
}

.impress-on-tls-preventing,
.impress-on-http-analysis,
.impress-on-http-body-stream,
.impress-on-http-session-manager,
.impress-on-http-ending,
.impress-on-http-stream-reader,
.impress-on-outro {
  #http-analysis, #http-body-stream, #http-session-manager, #http-ending, #http-stream-reader {
    visibility: visible;
  }
}

.impress-on-http-body-stream,
.impress-on-http-session-manager,
.impress-on-http-ending {
  #http-analysis {
    opacity: 1;
    p {
      opacity: .3;
    }
  }
}

.impress-on-http-body-stream,
.impress-on-http-ending {
  #http-analysis h2 {
    transform: translate3d(0, -60px, 500px);
  }
}

/*
.impress-on-http-session-manager #http-analysis h2 {
  transform: translate3d(0, 150px, 1000px);
}
*/

.impress-on-http-analysis {
  #http-body-stream, #http-session-manager {
    opacity: 0;
    pointer-events: none;
  }
}

.impress-on-http-body-stream {
  #http-analysis p {
    opacity: .05;
  }
  #http-session-manager {
    opacity: .05;
    pointer-events: none;
  }
}

.impress-on-http-session-manager {
  #http-analysis p, #http-body-stream {
    opacity: .1;
  }
}

.impress-on-http-ending #http-stream-reader {
  opacity: .1;
}

.impress-on-http-stream-reader #http-ending {
  opacity: .05;
  pointer-events: none;
}
